*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.holder{
	width:100vw;
	height:400px;
	display:flex;
	/* position:relative; */
	/* align-items:center; */
	justify-content:space-between;
	
}
.item1{
	width:80px;
	height:80px;
    background:green;
	color:black;
	font-size:40px;
	position:relative;
	/* top:0; */
	/* left:43%; */
		/* z-index:1; */
	/* text-align:center; */
}
.item2{
	width:80px;
	height:80px;
    background:green;
	position:absolute;
	color:black;
	font-size:40px;
}
.item3{
	width:80px;
	height:80px;
    background:green;
	color:black;
	position:absolute;
	/* z-index:1; */
	font-size:40px;
}
.item4{
	width:80px;
	height:80px;
    background:green;
	color:black;
	position:absolute;
    font-size:40px;
}
.item5{
	width:80px;
	height:80px;
    background:green;
	color:black;
	position:absolute;
	/* z-index:2; */
	font-size:40px;

}
.item6{
	width:80px;
	height:80px;
    background:red;
	color:black;
	/* position:absolute; */
	font-size:40px;
}
.item7{
	width:80px;
	height:80px;
    background:blue;
	color:black;
	/* position:absolute; */
	font-size:40px;
}